#adddistrict{
  position: absolute;
  top: 53%;
  left: 20%;
  transform: translate(-50%,-50%);
  border: 1px solid goldenrod;
  background: rgb(59, 223, 59);
}

form{
  margin: 10px 10px;
}
label{
  color: black;
  font-weight: lighter;
}

#District-adddist{
  outline: none;
  border: none;
  padding: 4px;
  margin-left: 16px;
}

#State-adddist{
  outline: none;
  border: none;
  padding: 4px;
  margin-left: 27px;
}


#adddistrict-submit{
  text-align: center;
  margin-bottom: 18px;
}
#adddistrict-submit input{
  cursor: pointer;
  font-size: 5px;
  padding: 5px;
  margin: 0 4px;
  border: 1px solid yellow;
  text-decoration: none;
}

#adddistrict-submit input:hover{
  color: rgb(1, 193, 29);
  background-color: yellow;
}

#soiltype{
  outline: none;
  border: none;
  padding: 4px;
  margin-bottom: 10px;
}