#commditywise{
  position: absolute;
  top: 53%;
  left: 20%;
  transform: translate(-50%,-50%);
  border: 1px solid goldenrod;
  background: rgb(59, 223, 59);
}

form{
  margin: 10px 10px;
}
label{
  color: black;
  font-weight: lighter;
}

#commoditywise-state{
  margin-bottom: 18px;
}

#viewstate-commoditywise{
  margin-left: 43px;
  outline: none;
  border: none;
  padding: 4px;
}

#viewseason-commodity-wise{
  margin-bottom: 18px;
}

#viewseasons-commodity-wise{
  outline: none;
  border: none;
  padding: 4px;
}

#button-soilbased {
  margin: 20px 0;
  text-align: center;
}

#button-soilbased input{
  cursor: pointer;
  transition: 0.6s;
  font-size: 5px;
  padding: 5px;
  border: 1px solid yellow;
  text-decoration: none;
  margin: 0 8px;
}

#button-soilbased input:hover{
  color: rgb(32, 32, 32);
  background-color: yellow;
}