#viewquery-head {
  text-align: center;
  margin-top: 10px;
}

#viewquery-head  h1{
  text-decoration: underline;
  font-size: 25px;
  color: darkcyan;
}

#viewquery{
  /* margin-top: 60px; */
  text-align: center;
  align-items: center;
}

#viewquery input{
  background: rgb(230, 230, 159);
  margin: 0 15px;
  cursor: pointer;
  transition: 0.6s;
  font-size: 5px;
  padding: 4px;
  border: 1px solid yellow;
  font-weight: bold;
  padding: 6px;
}

#viewquery input:hover{
  color: rgb(4, 5, 5);
  background-color: yellow;
}