#tablebox{
  margin-left: 100px;
  margin-top: 160px;
}

.center{
  width: 20%;
}

td{padding: 6px 0;
  text-align: center;
}
th{padding: 6px 0;
  text-align: center;
}

#button-viw-district{
  margin-top: 30px;
  margin-left: 190px;
}

#button-viw-district input{
  text-transform: capitalize;
  transition: 0.5s;
  border: none;
  outline: none;
  font-weight: bold;
  cursor: pointer;
  color: rgb(255, 255, 255);
  padding: 6px 6px;
  background: rgb(37, 174, 37);
}

#button-viw-district input:hover{
  color: black;
  background: rgb(103, 214, 103);
}